.common, .banner-wrap, .nav-note, .mtzq-wrap, .yjrmq, #dztj .dztj-wrap, .jyrp-wrap {
  width: 1200px;
  margin: 0 auto;
}

.banner-wrap {
  height: 470px;
  position: relative;
}

.banner-wrap ul {
  height: 31px;
  position: absolute;
  top: 93%;
  z-index: 4;
  width: 1200px;
  text-align: center;
}

.banner-wrap ul li {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background: #000;
  display: inline-block;
  opacity: .7;
  margin-right: 10px;
  box-shadow: 0 0 4px 1px #fff;
  color: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 15px;
  cursor: pointer;
}

.banner-wrap ul li:nth-child(1) {
  background-color: #ff0000;
}

.banner-wrap #arrBtn {
  display: none;
}

.banner-wrap #arrBtn .prevBtn,
.banner-wrap #arrBtn .nextBtn {
  position: absolute;
  top: 45%;
  height: 69px;
  width: 41px;
  z-index: 6;
  text-align: center;
  line-height: 69px;
  font-size: 48px;
  color: #ccc;
  background: #666;
  opacity: .7;
  cursor: pointer;
}

.banner-wrap #arrBtn .prevBtn {
  left: 185px;
}

.banner-wrap #arrBtn .nextBtn {
  right: 190px;
}

.banner-wrap .shine {
  width: 190px;
  height: 470px;
  position: absolute;
  right: 0;
  top: 0;
  opacity: .8;
}

.banner-wrap .shine > a > img {
  width: 190px;
  height: 210px;
  margin: 15px 0 20px;
}

.bannerBox {
  width: 100%;
  height: 100%;
  position: relative;
}

.bannerBox a {
  position: absolute;
}

.bannerBox a img {
  width: 100%;
  height: 100%;
}

.banner-wrap:hover #arrBtn {
  display: block;
}

.nav-note {
  height: 44px;
}

.nav-note .fl {
  display: block;
  float: left;
  padding: 0 40px;
  height: 44px;
  font-size: 14px;
  color: #9B9B9B;
  line-height: 44px;
}

.nav-note .fr {
  display: block;
  float: right;
  padding: 0 10px;
  height: 44px;
  font-size: 14px;
  line-height: 44px;
  color: #E01F35;
}

body {
  position: relative;
}

#content {
  width: 1688px;
  height: 691px;
  padding: 0 0 20px;
  background: url(../images/ia_300000162.jpg) no-repeat center;
  background-image: 100%;
  border-top: 1px solid #ccc;
  margin: 0 auto;
}

.content-wrap {
  width: 1200px;
  min-height: 666px;
  margin: 25px auto 0;
  background-color: #fff;
}

.content-wrap .clearfix {
  width: 100%;
  height: 650px;
}

.conBox {
  width: 260px;
  height: 320px;
  border: 1px solid #EDEDF1;
  float: left;
  margin: 4px 37px 4px 0;
  transition: all .5s;
  position: relative;
  top: 0;
}

.conBox a img {
  width: 260px;
  height: 260px;
}

.conBox a .item-msg {
  width: 100%;
  height: 60px;
}

.conBox a .item-msg span.fl {
  display: block;
  float: left;
  width: 150px;
  height: 60px;
  line-height: 60px;
  color: #333;
  font-size: 16px;
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.conBox a .item-msg span.fr {
  display: block;
  float: right;
  line-height: 60px;
  color: #A10000;
  font-size: 16px;
  margin-right: 16px;
}

.conBox a .item-msg span.fr em {
  color: #A10000;
  font-size: 14px;
}

.conBox:hover {
  position: relative;
  top: -5px;
}

.bigBox {
  width: 580px;
}

.bigBox > a > img {
  width: 580px;
}

.bigBox > a > img .item-msg {
  width: 100%;
}

.bigBox > a > img .item-msg span.fl {
  width: 420px;
}

#mtczq,
#nfljzq,
#bjzqq,
#ptjczq,
#yjrmq {
  background-color: #f5f5f5;
}

.mtzq-wrap {
  height: 670px;
}

.mtj-tit {
  width: 100%;
  height: 58px;
  margin-top: 25px;
}

.mtj-tit h1 {
  width: 123px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  font-size: 20px;
  color: #333;
  float: left;
}

.mtj-tit a {
  display: block;
  float: right;
  font-size: 16px;
  line-height: 58px;
  color: #333;
}

.mtj-tit a:hover {
  color: #ff6700;
}

.mtj-list {
  width: 100%;
}

.mtj-list .mtj-lt {
  float: left;
  width: 240px;
  height: 612px;
}

.mtj-list .mtj-lt a {
  display: block;
  width: 240px;
  height: 300px;
  transition: all .5s;
  position: relative;
  top: 0;
}

.mtj-list .mtj-lt a img {
  width: 240px;
  height: 300px;
}

.mtj-list .mtj-lt a:hover {
  position: relative;
  top: -5px;
}

.mtj-list .mtj-lt .addMargin {
  margin-top: 12px;
}

.mtj-list .mtj-rt {
  float: right;
  width: 944px;
}

.mtj-list .mtj-rt li {
  width: 219px;
  height: 300px;
  background-color: #fff;
  margin-right: 17px;
  float: left;
  transition: all .5s;
  position: relative;
  top: 0;
}

.mtj-list .mtj-rt li div {
  text-align: center;
  background-color: #ff2d32;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  width: 64px;
  margin: 0 auto;
  color: #fff;
}

.mtj-list .mtj-rt li img {
  width: 190px;
  height: 190px;
  margin: 0 auto;
}

.mtj-list .mtj-rt li p {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #333;
  width: 179px;
  padding: 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mtj-list .mtj-rt li h2 {
  height: 25px;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #ff2c00;
}

.mtj-list .mtj-rt li:hover {
  position: relative;
  top: -5px;
}

.mtj-list .mtj-rt li.margin_t {
  margin-top: 12px;
}

.mtj-list .mtj-rt li.margin_bot {
  margin-bottom: 8px;
}

.yjrmq {
  height: 370px;
}

.yjrmq .mtj-list > .mtj-lt {
  float: left;
  width: 240px;
  height: 300px;
}

#dztj {
  background-color: #f5f5f5;
}

#dztj .dztj-wrap {
  height: 373px;
}

.dztj-tit {
  width: 1200px;
  height: 58px;
  margin: 0 auto;
  margin-top: 25px;
}

.dztj-tit h1 {
  width: 123px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  font-size: 20px;
  color: #333;
  float: left;
}

.dztj-tit .arrows {
  float: right;
}

.dztj-tit .arrows .arrow_l,
.dztj-tit .arrows .arrow_r {
  display: block;
  float: left;
  width: 34px;
  height: 22px;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

.dztj-list {
  width: 1195px;
  height: 315px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.dztj-list ul {
  width: 3000px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.dztj-list ul li {
  width: 225px;
  height: 315px;
  background-color: #fff;
  margin-right: 14px;
  float: left;
}

.dztj-list ul li img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.dztj-list ul li p {
  height: 35px;
  font-size: 14px;
  color: #333;
  width: 219px;
  padding: 10px 0 5px;
  text-align: center;
}

.dztj-list ul li h2 {
  height: 17px;
  font-size: 14px;
  line-height: 25px;
  padding: 5px 0;
  text-align: center;
  color: #ff2c00;
}

.dztj-list ul li h3 {
  height: 17px;
  font-size: 14px;
  line-height: 25px;
  padding: 5px 0;
  text-align: center;
  color: #757575;
}

#jyrp {
  background-color: #f5f5f5;
}

.jyrp-wrap {
  height: 450px;
}

.jyrp-tit {
  width: 100%;
  height: 58px;
  margin-top: 25px;
}

.jyrp-tit h1 {
  width: 123px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  font-size: 20px;
  color: #333;
  float: left;
}

.jyrp-list {
  width: 100%;
  height: 315px;
}

.jyrp-list li {
  width: 282px;
  height: 392px;
  background-color: #fff;
  margin-right: 14px;
  float: left;
  transition: all .5s;
  position: relative;
  top: 0;
}

.jyrp-list li img {
  width: 100%;
  height: 204px;
}

.jyrp-list li .list-txt {
  width: 228px;
  height: 152px;
  padding: 22px 27px;
}

.jyrp-list li p {
  height: 95px;
  font-size: 14px;
  line-height: 24px;
  color: #333;
  width: 219px;
}

.jyrp-list li .rp-add {
  width: 100%;
  padding: 5px 0;
  font-size: 12px;
  color: #B0B0B0;
}

.jyrp-list li .rp-name {
  width: 140px;
  padding-right: 15px;
  border-right: 2px solid #a2a2a2;
  font-size: 14px;
  line-height: 14px;
  color: #333;
}

.jyrp-list li .rp-pri {
  padding-left: 5px 0;
  font-size: 14px;
  line-height: 14px;
  color: #ff6700;
}

.jyrp-list li:hover {
  position: relative;
  top: -5px;
}

.fixedSch {
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(221, 39, 39, 0.95);
  transition: top .4s ease-out;
  z-index: 99999;
}

.fixedSch .midSchBox {
  width: 1200px;
  height: 50px;
  margin: 0 auto;
}

.fixedSch .midSchBox .fixedSch_logo {
  display: block;
  float: left;
}

.fixedSch .midSchBox .fixedSch_logo img {
  margin: 5px 0 0;
  height: 40px;
  width: 260px;
}

.fixedSch .midSchBox ._schContainer {
  margin: 9px 0 0 60px;
  width: 660px;
  height: 32px;
  float: left;
}

.fixedSch .midSchBox ._schContainer .topSearchTxt {
  display: block;
  width: 565px;
  height: 33px;
  line-height: 33px;
  text-indent: 10px;
  border: 3px solid #c40000;
  font-size: 14px;
  float: left;
}

.fixedSch .midSchBox ._schContainer .topSearchBtn {
  width: 86px;
  height: 39px;
  background: #c40000;
  color: #fff;
  line-height: 39px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  float: left;
  text-align: center;
}
